@charset "UTF-8";
/* CSS Document */

#contenedor {
	/*position: absolute;
	height: 1280px;
	width: 800px;*/
}
header {
	background-color:#FFF;
	background-color:rgba(255,255,255,0.5)
}
.navbar-brand {
	min-height: 140px;
}
.navbar-brand img {
	max-height: 100%;
}
#derecha {
	float:right;
}
#formulario {
	margin-top:200px;
	background-color:#0CC;
	padding:20px;
}
#carrusel {
	background-color:#0CC;
	padding:20px;
}
